h3.tropical{
  color: #f7325e;
}
p.tropical{
  color: #7dc410;
}
.tropical{
  font-family: fantasy;
}
h3.popular{
  color: #f1948a;
}
p.popular{
  color: #2ecc71;
}
.popular{
  font-family: cursive;
}
